<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cami.santana.murcia.Conozcamosbogota"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Conozcamos Bogota Example</name>

    <description>
        Aplicación para conocer sobre  Bogotá su cultura y turismo
    </description>

    <author href="https://build.phonegap.com" email="cami.santana.murcia@gmail.com">
       Camila Santana
    </author>

</widget>